extends ../layouts/common.pug

block content
    header.masthead(style="background-image: url('#{post.image}')")
        .overlay
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    .post-heading
                        span= post.title 
                        p.post-meta Post by
                            a(href="#") #{post.username} 
                            span on #{post.createAt.toDateString()}
    article
        .container
            .row
                .col-lg-8.col-md-10.mx-auto
                    span= post.content 
block foot